# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native generated folders (ignored for managed workflow)
ios/
android/

# Metro
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS files
.DS_Store

# Certificates / keys
*.pem
*.p8
*.p12
*.key
*.jks
*.mobileprovision

# environment variables
.env
.env.local
.env.*.local

# typescript cache
*.tsbuildinfo

# don't track this folder if exists
app-example